@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:300);
@import url(http://fonts.googleapis.com/css?family=Raleway:400,200);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  background: #fff;
  font: 1em/1.2em Raleway, Helvetica, Arial, sans-serif;
  height: 100%;
  width: 100%;
}

h1,
h2,
h3,
h4 {
  text-align: center;
}

h1 {
  font: 3em "Roboto Condensed", sans-serif;
  padding: 1.7em 0 .65em;
  text-transform: uppercase;
}

h2 {
  font-size: 1.5em;
  font-weight: 400;
  padding-bottom: 2.5em;
  text-transform: uppercase;
}

h3 {
  font-size: 2em;
  font-weight: 400;
  line-height: 1.5em;
  padding: 1em;
}

h4 {
  background: -webkit-linear-gradient(#000,#999);
  background-size: cover;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #444;
  font-size: 2em;
  font-weight: 200;
  line-height: 1.3em;
  padding: 1em;
}

h5 {
    font-size: 1.2em;
    font-weight: 400;
    text-transform: uppercase;
}

@media (min-width: 768px) {
    h1 {
        font-size: 4em;
    }

    h2 {
        font-size: 2.2em;
    }
    h3 {
        font-size: 2.75em;
    }
    h4 {
        font-size: 2.75em
    }
    h5 {
        font-size: 1.5em;
    }
}

.share-toolbar {
  background: rgba(51, 51, 51, 0.5);
  border-radius: 0 0 0 5px;
  padding: 10px;
  height: 40px;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1; }
  .share-toolbar .eventable {
    float: left;
    margin-right: 10px; }
    @media (max-width: 1024px) {
      .share-toolbar .eventable {
        display: none; } }
  .share-toolbar .twitter-follow-button {
    display: block;
    float: left;
    margin-right: 10px; }
    @media (max-width: 1024px) {
      .share-toolbar .twitter-follow-button {
        margin-right: 0; } }
  .share-toolbar .fb-like {
    float: left;
    display: table !important;
    height: 20px !important;
    width: auto !important; }
    @media (max-width: 1024px) {
      .share-toolbar .fb-like {
        float: right; } }
  @media (max-width: 1024px) {
    .share-toolbar {
      background: #333333;
      border-radius: 0;
      position: static; } }

a {
  border-bottom: 1px dotted #777;
  color: #59ABE3;
  text-decoration: none;
  -webkit-transition: all .2s;
     -moz-transition: all .2s;
          transition: all .2s;
}

#faq a {
    border-bottom: 1px dotted #fff;
    color: orange;
}
  a:hover {
    border-color: #a4c4d4;
  }

::selection {
  background: #71bbd7;
}

::-moz-selection {
  background: #71bbd7;
}

.more {
  border-radius: 100%;
  cursor: pointer;
  display: block;
  font-weight: 200;
  height: 30px;
  margin: 0 auto;
  line-height: 1.5em;
  width: 30px;
}

.container {
  margin: auto;
  max-width: 800px;
  width: 80%;
}

#header {
  background: #96b5c9 url(../img/hero3.jpg) no-repeat center center / cover;
  color: #fff;
  display: table;
  height: 100%;
  height: 100vh;
  margin: 0 auto;
  overflow: hidden;
  padding-bottom: 4em;
  text-align: center;
  width: 100%;
}

  #header__container {
    display: table-cell;
    vertical-align: middle;
    max-width: 800px;
    width: 80%;
  }

  #header__container__titles {
    -webkit-animation: shiftUp .5s ease-out;
       -moz-animation: shiftUp .5s ease-out;
            animation: shiftUp .5s ease-out;
  }

  #header__social {
    -webkit-animation: shiftDown .5s ease-out;
       -moz-animation: shiftDown .5s ease-out;
            animation: shiftDown .5s ease-out;
  }

  .header__social__link {
    border: 0;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 1.2em;
    padding: 7px 0;
    position: relative;
    text-transform: uppercase;
    -webkit-transition: all .15s ease-in-out;
       -moz-transition: all .15s ease-in-out;
            transition: all .15s ease-in-out;
    width: 110px;
  }

    @media only screen and (max-width: 650px) {
      .header__social__link {
        margin: 10px auto;
        display: block;
      }
    }

    .header__social__link::before {
      top: 0;
      -webkit-transform: translateY(-10px);
         -moz-transform: translateY(-10px);
              transform: translateY(-10px);
    }

    .header__social__link::after {
      bottom: 0;
      -webkit-transform: translateY(10px);
         -moz-transform: translateY(10px);
              transform: translateY(10px);
    }

    .header__social__link::before,
    .header__social__link::after {
      background: #fff;
      content: '';
      height: 1px;
      left: 0;
      opacity: 0;
      position: absolute;
      -webkit-transition: opacity .3s, -webkit-transform .3s;
         -moz-transition: opacity .3s, -moz-transform .3s;
              transition: opacity .3s, transform .3s;
      width: 100%;
    }

    .header__social__link:hover::before,
    .header__social__link:hover::after {
      opacity: 1;
      -webkit-transform: translateY(0);
         -moz-transform: translateY(0);
              transform: translateY(0);
    }

  #header__more {
    border: 1px solid #bccad3;
    bottom: 1.5em;
    color: #bccad3;
    left: 50%;
    margin-left: -15px;
    position: absolute;
    -webkit-animation: shiftDown .5s ease .5s;
       -moz-animation: shiftDown .5s ease .5s;
            animation: shiftDown .5s ease .5s;
  }

    #header__more:hover {
      border-color: #fff;
      color: #fff;
    }

    @media only screen and (max-height: 500px) {
      #header__more {
        display: none;
      }
    }

.error #header {
  background: #2d393d !important;
}

#about {
  background: rgba(255,255,255,.9);
  padding: 1em 1em 3em 1em;
  text-align: center;
}

  #about p {
    color: #233843;
    font-size: 1.1em;
    line-height: 1.9em;
    margin-bottom: 1em;
  }

#faq {
    background:#5c97bf;
    padding: 1em;
    text-align: center;
}

  #faq h3 {
      color: #fff;
      padding-bottom: .5em;
  }
.faq-q {
    color: #fff;
    line-height: 2em;
}
.faq-a {
    color: #fff;
    line-height: 1.5em;
}

.question {
    padding-bottom: 3em;
}
#portfolio {
  background: #F4B350;
  padding: 1em;
  text-align: center;
}

  #portfolio h3 {
    color: #fff;
    padding-bottom: .5em;
  }

  #portfolio .container {
    padding: 1.5em 0;
  }

  .portfolio__shot {
    border: 0;
    display: inline-block;
    height: auto;
    margin: 0.25em;
    max-width: 250px;
    opacity: 0.7;
    overflow: hidden;
    position: relative;
    -webkit-transition: all .3s;
       -moz-transition: all .3s;
            transition: all .3s;
    width: 100%;
  }

    .portfolio__shot:hover {
      opacity: 1;
    }

    .portfolio__shot img {
      height: auto;
      width: 100%;
    }

    .portfolio__shot span {
      background: rgba(0,0,0,.6);
      bottom: -4.5em;
      color: #fff;
      font-size: 0.85em;
      left: 0;
      padding: 10px 0;
      position: absolute;
      -webkit-transition: all .15s ease-in;
         -moz-transition: all .15s ease-in;
              transition: all .15s ease-in;
      width: 100%;
    }

      .portfolio__shot span p:nth-child(2) {
        font-size: 0.9em;
      }

      .portfolio__shot:hover span {
        bottom: 3px;
      }

#footer {
  background: #2d393d;
  color: #fff;
  padding: 1.5em;
  text-align: center;
}

  #footer a {
    color: #fff;
  }

  #footer__top {
    border: 1px solid #737b7d;
    color: #737b7d;
    cursor: pointer;
  }

    #footer__top:hover {
      border-color: #fff;
      color: #fff;
    }

  #footer__contact {
    background: #3f4f54;
    border-radius: 2em;
    font-size: 0.95em;
    margin: 2em auto;
    padding: 0.5em;
    max-width: 300px;
  }

  #footer__copyright {
    color: #737b7d;
    font-size: 0.8em;
    margin: 0;
  }

@keyframes shiftUp {
  0%   { opacity: 0; transform: translateY(60px); }
  100% { opacity: 1; transform: translateY(0px); }
}

@-moz-keyframes shiftUp {
  0%   { opacity: 0; -moz-transform: translateY(60px); }
  100% { opacity: 1; -moz-transform: translateY(0px); }
}

@-webkit-keyframes shiftUp {
  0%   { opacity: 0; -webkit-transform: translateY(60px); }
  100% { opacity: 1; -webkit-transform: translateY(0px); }
}

@keyframes shiftDown {
  0%   { opacity: 0; transform: translateY(-60px); }
  100% { opacity: 1; transform: translateY(0px); }
}

@-moz-keyframes shiftDown {
  0%   { opacity: 0; -moz-transform: translateY(-60px); }
  100% { opacity: 1; -moz-transform: translateY(0px); }
}

@-webkit-keyframes shiftDown {
  0%   { opacity: 0; -webkit-transform: translateY(-60px); }
  100% { opacity: 1; -webkit-transform: translateY(0px); }
}
